* {
  box-sizing: border-box;
}

table {
  margin: 1em 3em 1em 3em;
  padding: 2em; 
}

img {
  width: 20%;
}

.container {
  padding: 2em;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-m {
  width: 200px;
}